* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  /* overflow: hidden; */
}
div {
  display:block;
  height: 250px;
  width: 250px;
  background-color: blanchedalmond;
  margin-bottom: 4px;
  border-radius: 4px;
}

.special {
  background-color: lightsalmon;
}

aside {
  position:fixed;
  top: 20px;
  right: 20px;
}
